<div class="row">
  <!-- Source: http://getbootstrap.com/css/#grid-options -->
  <!--
    Size of everything outside the box is maintained till medium devices.
    Anything smaller than the medium devices, it becomes responsive.
  -->
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <!-- Size of everything within the box is maintained till extra small devices -->
    <div class="col-xs-6 text-left">
      <!--
        For green, background-color: #adff5f
        For red, background-color: #dd1919; color: white
      -->
      <input type="text" class="form-control" id="expected_calories" onchange="update_expected_calories();" placeholder="Expected Calories" style="">
    </div>
    <div class="col-xs-6 text-right">
      <%= link_to logout_path, method: "delete", class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
      <% end %>
    </div>

    <!-- BEGIN filter -->

    <!-- END filter -->

    <div class="calories-list col-xs-12">
      <ul class="list-group" id="calories_index">
        <% @calories.each do |calorie| %>
          <%= render partial: "calorie_item", locals: {
            calorie: calorie
          } %>
        <% end %>
      </ul>
    </div>

    <div class="col-xs-12">
      <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addCalorie">+</button>
    </div>

    <div class="modal fade" id="addCalorie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Enter Calorie</h4>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label>Number of Calories</label>
              <input type="number" class="form-control" id="calorie_value">
            </div>

            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" id="calorie_description">
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="save_calorie();" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editCalorie" tabindex="-1" role="dialog" aria-labelledby="emyModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="emyModalLabel">Edit Calorie</h4>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label>Number of Calories</label>
              <input type="number" class="form-control" id="current_calorie_value">
            </div>

            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" id="current_calorie_description">
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="update_calorie_button" class="btn btn-primary" onclick="">Update</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4"></div>
</div>
<script>
  $.get("/api/calories/expected/<%= @current_user.id %>", {api_key: "<%= @current_user.api_key %>"}, function(resp) {
    //console.log(resp);
    $('#expected_calories').val(resp['expected_calories']);
    check_threshold();
  });

  $('#editCalorie').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var calorie_id = button.data('calorieid');
    //console.log('Edit Calorie ' + calorie_id + '!');

    // Get current calorie's value and description
    $.get("/api/calories/" + calorie_id + "/user/<%= @current_user.id %>", {api_key: "<%= @current_user.api_key %>"}, function(resp) {
      //console.log(resp);
      $('#current_calorie_value').val(resp['value']);
      $('#current_calorie_description').val(resp['description']);
    });

    // Update modal's content
    var modal = $(this);
    modal.find('#update_calorie_button').attr('onclick', "update_calorie(" + calorie_id + ");");
  });

  function update_calorie(calorie_id) {
    //console.log(calorie_id);
    var new_calorie_value = $('#current_calorie_value').val();
    var new_calorie_description = $('#current_calorie_description').val();
    //console.log(new_calorie_value + " - " + new_calorie_description);

    // Update calorie
    $.post("/api/calories/" + calorie_id + "/user/<%= @current_user.id %>", {
      api_key: "<%= @current_user.api_key %>",
      value: new_calorie_value,
      description: new_calorie_description
    }, function(resp) {
      //console.log(resp);
      $('#current_calorie_value').val(resp['value']);
      $('#current_calorie_description').val(resp['description']);

      // Update calorie index entry
      $('#calorie_description_and_value' + calorie_id).html(
        resp['description'] + " (" + resp['value'] + ")"
      );

      // Update calorie datetime
      var str_dt = resp['created_at'];
      str_dt = str_dt.replace(/T/g, " ");
      str_dt = str_dt.replace(/\.\d+/g, " ");
      $('#calorie_dt' + calorie_id).html(str_dt);

      // Check threshold
      check_threshold();
    });

    // Close modal
    $('#editCalorie').modal('hide');
  }

  function update_expected_calories() {
    var expected_calories = $('#expected_calories').val();
    //console.log(expected_calories);
    $.post("/api/calories/expected/<%= @current_user.id %>", {
      api_key: "<%= @current_user.api_key %>",
      total_expected_calories: expected_calories
    }, function(resp) {
      //console.log(resp);
      check_threshold();
    });
  }

  function save_calorie() {
    var description = $('#calorie_description').val();
    var value = $('#calorie_value').val();
    $.post("/api/calories/<%= @current_user.id %>", {
      api_key: "<%= @current_user.api_key %>",
      description: description,
      value: value
    }, function(resp) {
      //console.log(resp);
      var str_dt = resp['created_at'];
      str_dt = str_dt.replace(/T/g, " ");
      str_dt = str_dt.replace(/\.\d+/g, " ");

      var calorie_item = [
        '<li class="list-group-item" id="calorie_item' + resp['id'] + '">',
        '<div class="row">',
        '<div class="col-xs-8" id="calorie_description_and_value' + resp['id'] +'">',
        resp['description'] + ' (' + resp['value'] + ')',
        '</div>',
        '<div class="col-xs-4">',
        '<a class="btn btn-default btn-sm" data-toggle="modal" data-target="#editCalorie" data-calorieid="' + resp['id'] + '">',
        '<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>',
        '</a>',
        '<a class="btn btn-default btn-sm" onclick="delete_calorie(' + resp['id'] + ');">',
        '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>',
        '</a>',
        '</div>',
        '<div class="col-xs-12">',
        '<small id="calorie_dt' + resp['id'] + '">',
        str_dt,
        '</small>',
        '</div>',
        '</div>',
        '</li>'
      ];

      $('#calories_index').append(calorie_item.join("\n"));
      check_threshold();
    });
  }

  function delete_calorie(calorie_id) {
    // Delete calorie
    $.get("/api/calories/delete/" + calorie_id + "/user/<%= @current_user.id %>", {api_key: "<%= @current_user.api_key %>"}, function(resp) {
      // Remove calorie index entry
      $('#calorie_item' + calorie_id).remove();
      check_threshold();
    });
  }

  function check_threshold() {
    $.get("/api/calories/exceed/<%= @current_user.id %>", {api_key: "<%= @current_user.api_key %>"}, function(resp) {
      //console.log(resp);
      if(resp['exceed']) {
        //console.log('true');
        $('#expected_calories').attr('style', 'background-color: #dd1919; color: white');
      }
      else {
        //console.log('false');
        $('#expected_calories').attr('style', 'background-color: #adff5f');
      }
    });
  }
</script>
